
.overlap-everything-div{
    background-color: #FFFFFF;
    position:fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    width:100%;
    height:100%;
    border:none;
    margin:0;
    padding:0;
    overflow:hidden;
    z-index:999999;
}

.normal-div{
    background-color: #FFFFFF;
    width: 100%;
    height: 300px;
}

.iframe-button{
    background: url('../images/fullscreen_icon.png') center no-repeat;
    width: 25px;
    height: 25px;
}

.iframe-page{
    border : 0;
    width: 100%;
    height: 92%; 
}
